.tarjeta:hover {
  transform: scale(1.1);
  transition: 1s;
}

.tarjeta {
  transform: scale(1);
  transition: 1s;
}

section figure img:hover {
  content: url(../imagenes/fotoreal.jpg);
  transform: rotateZ(1080deg);
  transition: 1s;
}

section figure img {
  transform: rotateZ(0deg);
  transition: 1s;
}

.iconos a img:hover {
  transform: rotateZ(40deg);
  transition: 1s;
}

.iconos a img {
  transform: rotateZ(0deg);
  transition: 1s;
}
